@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Hanken+Grotesk&family=Oswald&display=swap');
body {
   margin: 20px;
   background-color: whitesmoke
}
.intro-container {
    height: 450px;
    border: 1px solid black;
    border-radius: 0px 40px 0px 10px;
    background: linear-gradient(to right top, rgba(255, 123, 0, 0.845) ,rgba(255, 68, 0, 0.863));
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}
.intro-container h1, h3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
}
.intro-title {
    font-size: 50px;
}
.intro-subtitle {
    font-size: 30px;
    font-weight: normal;
}
.intro-additionals {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.intro-by {
    border-top: 6px solid white;
    padding-top: 10px;
    margin-top: 60px;
}
.intro-topics {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-topics a {
    margin: 5px;
    color: rgb(255, 254, 254)
}
.introduction {
    margin-top: 20px;
    font-size: 20px;
}
#snes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snes-container {
    margin: 30px;
    padding: 15px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.snes-container img {
    border: 5px solid purple;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
#ps1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ps1-container {
    margin: 30px;
    padding: 15px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ps1-container img {
    border: 5px solid rgba(255, 0, 0, 0.546);
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
#ps2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ps2-container {
    margin: 30px;
    padding: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ps2-container img {
    border: 5px solid rgb(0, 157, 255);
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
.console {
    font-family: 'Oswald', sans-serif;
}
.snes-container .launch, .ps1-container .launch, .ps2-container .launch {
    font-family: 'Hanken Grotesk', sans-serif;
    color: rgba(0, 0, 0, 0.479);
}
.container-games-right {
    background-color: rgba(255, 255, 255, 0.635);
    width: 98%;
    padding: 10px;
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 700px;
    border-radius: 0px 15px 15px 0px;
}
.container-games-right .games-descrip {
    margin: 0px 20px 0px 10px;
    display: flex;
    align-items: center;
}
.container-games-left {
    background-color: rgba(255, 255, 255, 0.635);
    width: 98%;
    padding: 10px;
    margin: 30px;
    display: grid;
    grid-template-columns: 700px 1fr;
    border-radius: 15px 0px 0px 15px;
}
.container-games-left .games-descrip {
    margin: 0px 10px 0px 20px;
    display: flex;
    align-items: center;
}
.games-right {
    border-radius: 6px;
    margin: 10px 10px 10px 0px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.games-right img {
    width: 90%;
    object-fit: cover;
}
.games-left {
    margin: 10px 0px 10px 10px;
    border-radius: 6px;
    margin-left: 10px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.games-left img {
    width: 90%;
    object-fit: cover;
}
.games-left .launch, .games-right .launch {
    font-family: 'Hanken Grotesk', sans-serif;
    color: rgba(255, 255, 255, 0.568)
}
.games-descrip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.games-descrip p {
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.582);
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .intro-topics a {
        margin: 3px;
    }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
    * {
    margin: 10px;
    padding: 0;
    }
    .intro-container {
        max-width: 400px;
        height: 500px;
        padding: 10px;
        display: flex;
    }
    .intro-container h1, h3 {
        padding-left: 0;
    }
    .snes-container, .ps1-container, .ps2-container {
    margin-top: 100px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .container-games-left, .container-games-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .container-games-right {
        display: flex;
        flex-direction: column-reverse;
    }
    .games-descrip {
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
    }
    strong {
        margin: 0px;
    }
    em {
        margin: 0px;
    }
}